html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.no-bullet {
    text-decoration: none;
    list-style: none;
}

.no-decoration-url {
    text-decoration: none;
    color: black;
}

/* ==== BODY SECTIONS ==== */
section {
    height: 50em;
}

section#bienvenido {
    background-color: #f7f7f7;
    padding-top: 7em;
}

.title-box {
    display: flex;
    align-items: center;
    margin-top: 10em;
    height: 2em;
    width: 50%;
}

.title-box h1 {
    font-size: 30px;
}

.title-box .title-wrap {
    flex-shrink: 0;
    padding: 0 25px;
    position: relative;
    margin: 0 auto;
    color: #b6494e;
}

.title-box::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(182, 73, 78, 0.4);
}

.title-box::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(182, 73, 78, 0.4);
}

section.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #f7f7f7;
    background-color: #363636;
    font-weight: 400;
    letter-spacing: 0.6px;
    font-size: 18px;
    height: 5em;
}

.fixed-btn {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 2;
}

.fixed-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b6494e;
    cursor: pointer;
    transition: all 0.4s ease;
    writing-mode: vertical-lr;
    border-radius: 15px 0 0 15px;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 500;
    padding: 20px 5px 20px 10px;
    text-decoration: none;
}

.fixed-btn a i {
    transform: rotate(90deg);
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}
.facebook,
.instagram {
    font: normal normal normal 14px/1 FontAwesome;
}
.facebook::before {
    content: "\f09a";
}
.instagram::before {
    content: "\f16d";
}
