section#nuestros-servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
}

section#nuestros-servicios .servicio {
    display: flex;
    justify-content: center;
    background-color: #ededed;
}

section#nuestros-servicios .contenedor-tarjeta-servicio {
    margin-top: 7em;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: space-evenly;
    width: 80%;
}

section#nuestros-servicios .contenedor-tarjeta-servicio .tarjeta-servicio {
    text-align: center;
}
