section#nuestros-servicios {
    display: flex;
    justify-content: center;
    background-color: #ededed;
}

section#nuestros-servicios .servicio {
    display: flex;
    justify-content: center;
    background-color: #ededed;
}

section#nuestros-servicios .servicio img {
    border-radius: 50px;
}
