section#quienes-somos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
    height: 30em;
    padding-top: 12em;
}

section#quienes-somos .contenedor-tarjetas {
    display: flex;
    margin-top: 7em;
    justify-content: space-evenly;
    width: 80%;
    background-color: #ededed;
}

section#quienes-somos .tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
    text-align: center; /* Asegura que el texto esté centrado */
    padding: 1em; /* Añade un poco de espacio alrededor del texto */
}

section#quienes-somos .tarjeta span {
    word-wrap: break-word; /* Permite que las palabras largas se dividan y se envuelvan */
    overflow-wrap: break-word; /* Alternativa moderna a word-wrap */
    max-width: 60%; /* Asegura que el texto no se desborde de la tarjeta */
}

section#quienes-somos .tarjeta img {
    border-radius: 150px;
    width: 400px;
}
